<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="index.html">B.A.P.T.O</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a target="_blank" class="dropdown-item" href="survey.html">Find your way</a></li>
                <li><a target= "_blank" class="dropdown-item" href="https://www.google.com/maps">Google Maps</a></li>
               
            </ul>
            </li>
        </ul>
    </div>
</div>
</nav>

